.tabsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 12px 12px 0 0;
  z-index: 10;
  font-size: 1rem;
}

.tab {
  position: relative;
  cursor: pointer;
  padding: 0.5rem 0;

  .tabText {
    font-size: 1rem;
    color: black;
    font-weight: normal;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &.active .tabText {
    color: #0071e3;
    font-weight: 500;
  }

  .icon {
    font-size: 1rem;
    display: flex;
    align-items: center;
  }

  .underline {
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    background: #0071e3;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left center;
  }

  &.active .underline {
    transform: scaleX(1);
  }
}